*, *::before, *::after {
    box-sizing: border-box;
  }
  
  *:not(dialog) {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
/* /////////////////////////////////////////////////////// */

@font-face {
  font-family: mitica-mitica;
  src: url(fonts/MiTica.otf);

  font-family: consolamono;
  src: url(fonts/ConsolaMono.ttf);
}

body {
    background-color: rgb(92, 92, 254);
    color: rgb(255, 255, 255);
    font-family: consolamono;

}

h1 {
  font-family: mitica-mitica;
  font-size: 80px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 2px rgb(10, 7, 98) ;
}

h2 {
  margin: 20px;
}

h3 {
  font-size: x-large;
  margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.game-container {
    position: relative;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    font-size: 50px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid rgb(134, 134, 134);
}

.show {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: xx-large;
  height: 500px;
  width: 500px;
  background-color: rgba(34, 8, 160, 0.9);
}

.modal {
  position: absolute;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  background-color: rgba(34, 8, 160, 0.9);
  height: 500px;
  width: 500px;
}

.button-start {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.start-game {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(92, 92, 254);
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: 600;
}

.start-game:hover {
  background-color: rgb(122, 122, 243);
}



input {
  outline: none;

}

form > p {
  margin-top: 15px;
}
