/* //////////////////////CUSTOM RESET CSS///////////////////////////// */

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  *:not(dialog) {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }


body * {
    outline: 1px dashed saddlebrown;
}

/* /////////////////////////////////////////////////// */

.container {
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(500px, 1fr) minmax(200px, 300px);
    grid-template-rows: 200px;
    height: 100vh;
    max-width: 1500px;
}

header {
    grid-column: 2 / 4;
}

.sidebar {
    background-color: rgb(15, 176, 234);
    grid-column: 1 / 2;
    grid-row: 1/4;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.extra-info {
    grid-row: 2 / 4;
}

